:root {
    --unused: #9248b0;
    --secondary: #9b8ba1;
    --primary: #9b8ba1; 
    --titlecolor: white; 
    --navlinks: white;
    --navtitlefont: 'Martian Mono', sans-serif;
    --navlinksfont: 'Red Hat Mono', sans-serif;

}